---
import Layout from "../components/Layout.astro";
import { createClient } from "../auth/client";
import { SessionStore } from "../auth/storage";
import { Agent } from "@atproto/api";
import { nanoid } from "nanoid";
import { AuthSession, eq, db } from "astro:db";
import type { ProfileViewDetailed } from "@atproto/api/dist/client/types/app/bsky/actor/defs";
import LabelingForm from "../components/LabelingForm.astro";

if (Astro.request.method == "POST") {
  const handle = (await Astro.request.formData()).get("handle")?.toString();
  const oauthClient = await createClient();
  const state = nanoid();
  console.log("state", state);
  const url = await oauthClient.authorize(handle!, {
    scope: "atproto transition:generic",
    state,
  });

  return Astro.redirect(url);
}
const sid = Astro.cookies.get("sid");
let profile: ProfileViewDetailed | null = null;
if (sid) {
  const sessionState = await db
    .select()
    .from(AuthSession)
    .where(eq(AuthSession.key, sid.value))
    .limit(1);
  // console.log(JSON.parse(sessionState[0].session).did);
  const oauthClient = await createClient();
  const session = await oauthClient.restore(
    JSON.parse(sessionState[0].session).did,
  );
  if (session) {
    const agent = new Agent(session);
    profile = (await agent.getProfile({ actor: session.did })).data;
  }
}
// console.log(profile);
---

<Layout title="hello">
  <h1>DO NOT USE THIS, IT NEEDS TO BE MADE MORE SECURE, THIS IS JUST A TEST</h1>
  <div class="session-form">
    {
      !profile && (
        <form action="/" method="POST">
          <input
            type="text"
            name="handle"
            placeholder="Enter your handle (eg alice.bsky.social)"
            required
            value="essentialrandom.bsky.social"
          />
          <button type="submit">Log in</button>
        </form>
      )
    }
  </div>
  Hello Fujin <br />
  {profile?.displayName ?? "no profile"}
  {profile && <LabelingForm />}
</Layout>
