---
import Layout from "../components/Layout.astro";
import LabelingForm from "../components/LabelingForm.astro";
import { actions, isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.authorize);
if (isInputError(result?.error)) {
  console.log(result.error.fields.handle);
} else if (result?.data) {
  return Astro.redirect(result.data.redirectTo);
}
---

<Layout title="Welcome to the Fanworks Labeler">
  {Astro.locals.session && <LabelingForm />}
  {
    !Astro.locals.session && (
      <section>
        Welcome to the Fanworks labeler! Once you login, you will be able to add
        labels to your posts according to the type of Fanwork they represent.
      </section>
    )
  }
</Layout>
