---
import { actions, isInputError } from "astro:actions";
import { ViewTransitions } from "astro:transitions";

const result = Astro.getActionResult(actions.labelPost);
---

<ViewTransitions />
<form method="POST" action={actions.labelPost}>
  <label>Post URL:<input transition:persist type="text" name="post" /></label>
  {isInputError(result?.error) && <div>{result.error.fields.post}</div>}
  <label>
    <input
      transition:persist
      type="checkbox"
      name="labels"
      value="fanfic"
    />Fanfic
  </label>
  <label>
    <input
      transition:persist
      type="checkbox"
      name="labels"
      value="shitpost"
    />Shitpost
  </label>
  <button type="submit">Set Label</button>
</form>

{!isInputError(result?.error) && result?.error}
{result?.data}
